body {
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
}

.left {
  color: white;
  background-image: url("bmwsmall.jpg");
  background-size: cover;
  height: 1000px;
  width: min(600px);
  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: 2;
}

.row_first {
  display: flex;
}

.row_second {
  display: flex;
}

.row_third {
  display: flex;
}

.brand {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 70px;
}

.image {
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}